<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css" />
<link rel="stylesheet" href="/css/testimonial.css">
<section class="testimonials">
    <div class="container-testimonial">
        <div class="section-header">
            <h2 class="title">What Our Clients say </h2>
        </div>
        <div class="testimonials-content">
            <div class="swiper testimonials-slider js-testimonials-slider">
                <div class="swiper-wrapper">


                    <div class="swiper-slide testimonials-item">
                        <div class="info">
                            <img src="/images/people1.jpg" alt="img" height="100px">
                            <div class="text-box">
                                <h3 class="name">Abhishek</h3>
                                <span class="job">web developer</span>
                            </div>
                        </div>
                        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dignissimos culpa laboriosam explicabo reprehenderit saepe cum ratione voluptatem est neque quisquam.</p>
                        <div class="rating">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                        </div>
                    </div>

                    <div class=" swiper-slide testimonials-item">
                        <div class="info">
                            <img src="/images/people2.jpg" alt="img" height="100px">
                            <div class="text-box">
                                <h3 class="name">Jigar</h3>
                                <span class="job">web developer</span>
                            </div>
                        </div>
                        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dignissimos culpa laboriosam explicabo reprehenderit saepe cum ratione voluptatem est neque quisquam.</p>
                        <div class="rating">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                        </div>
                    </div>

                    <div class=" swiper-slide testimonials-item">
                        <div class="info">
                            <img src="/images/people1.jpg" alt="img" height="100px">
                            <div class="text-box">
                                <h3 class="name">Abhaydeep</h3>
                                <span class="job">web developer</span>
                            </div>
                        </div>
                        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dignissimos culpa laboriosam explicabo reprehenderit saepe cum ratione voluptatem est neque quisquam.</p>
                        <div class="rating">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                        </div>
                    </div>

                    <div class=" swiper-slide testimonials-item">
                        <div class="info">
                            <img src="/images/people2.jpg" alt="img" height="100px">
                            <div class="text-box">
                                <h3 class="name">Sivam</h3>
                                <span class="job">web developer</span>
                            </div>
                        </div>
                        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dignissimos culpa laboriosam explicabo reprehenderit saepe cum ratione voluptatem est neque quisquam.</p>
                        <div class="rating">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                        </div>
                    </div>

                    <div class=" swiper-slide testimonials-item">
                        <div class="info">
                            <img src="/images/people1.jpg" alt="img" height="100px">
                            <div class="text-box">
                                <h3 class="name">Abhishek</h3>
                                <span class="job">web developer</span>
                            </div>
                        </div>
                        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dignissimos culpa laboriosam explicabo reprehenderit saepe cum ratione voluptatem est neque quisquam.</p>
                        <div class="rating">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                        </div>
                    </div>
                </div>
            </div>
          
            <div class="swiper-pagination  js-testimonials-pagination"></div>
        </div>
          <!-- Previous control -->
          <div class="swiper-button-prev js-testimonials-prev"></div>

          <!-- Next control -->
          <div class="swiper-button-next js-testimonials-next"></div>
    </div>

</section>
<script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>
<script src="/js/testimonial.js"></script>