/* #background-section {
    position: relative;
    width: 100%;
    height: 300px; 
    overflow: hidden;
 } 
  
  #text-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
  }
  
  #img-container::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: contain;
    background-position: center;
    animation: changeBackground 1s infinite;
  }
  
  @keyframes changeBackground {
    0% {
      background-image: url('/images/hotelimage1.jpg'); 
    }
    33.33% {
      background-image: url('/images/hotelimg2.jpg'); 
    }
    66.66% {
      background-image: url(image\hotelimg3.jpg);
    }
    100% {
      background-image: url(image\hotelimg4.jpg);
    }
  }
 */








 body{
    color: black;
  }
  /*start of carousel section styling*/
  
  .first-img {
    overflow:hidden;
    position: relative;
    display: block;
    min-height: 70vh;
    margin: 0 auto;
  }
  .carousel-item{
      position: relative;
      width: 100%;
      height: 40rem; 
      overflow: hidden;
  }
  .carousel-item img{
      height:100%;
      width:100%;
  }
  .carousel-item:after {
    content:"";
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    background:rgba(0,0,0,0.5);
  }
  
  .embedded-text {
    position: absolute;
    top: 25%;
  }
  
  .embedded-text h2 {
    font-size: 30px;
    font-weight: bolder;
    letter-spacing: 2px;
  }
  
  .embedded-text p {
    line-height: 1.5;
    font-size: 17px;
  }
  
  .embedded-text button {
    border: 2px solid #000;
  }
  
  .embedded-text button:hover {
    background-color: #0275d8;
    border: 2px solid #0275d8;
  }
  
  .small-btn {
    padding:0;
  }
  /*end of carousel section styling*/
  
  /*start of styling for tablet screen size*/
  @media only screen and (min-width:600px) {
  /*start of carousel section*/
  .embedded-text{
   
    top: 35%;
  }
    .embedded-text h2 {
      font-size: 40px;
    }
    .carousel-item{
      position: relative;
      width: 100%;
      height: 50rem; 
      overflow: hidden;
  }
    /*end of carousel section*/
  
  }
  /*end of styling for tablet screen size*/
  
  
  @media only screen and (min-width:768px) {
    
    /*start of style on carousel section*/
  
    .embedded-text {
      top: 25%;
    }
  
      .embedded-text p {
        font-size: 20px;
        width: 70%;
        margin: auto;
      }
    
      .embedded-text button a {
        font-size: 20px;  
      }
    /*end of style for carousel section*/
  }
  
  
  /*start of styling for desktop screen size*/
  @media only screen and (min-width:1024px) {
  
  /*start of styling for carousel section*/
  
  .embedded-text {
    top: 19%;
  }
  
  .embedded-text h2 {
    font-size: 50px;
    }
  /*end of styling for carousel section*/
  }
  
  /* Styling of search container */
  .search-container {
    padding: 10px;
    width: 90%;
    height:auto;
  
    margin: 0 auto !important;
  }
  
  .search-row {
    display: flex;
    align-items: center;
    gap: 10px;
    width: 100%;
  }
  
  .search-input {
    
    flex: 1;
    display: flex;
    flex-direction: column;
  }
  
  .search-input label {
    color: white;
  }
  
  .search-input input[type="text"],
  .search-input input[type="date"] {
    width: 8rem;
  }
  
  .search-row button {
    padding: 8px 16px;
  }
  #location-ip,#check-in,#check-out{
    height:30px;
    margin: 0px !important;
    padding: 0% !important;
  }  
  #search-btn{
    height:100%;
    background-color: green;
    margin-top:30px;
  }
  
  /* Guest picker section styling start  */

  .search-row {
    display: flex;
    align-items: center;
  }
  
  .search-input {
    margin-right: 10px;
  }
  
  .guest-room-picker {
    position: relative;
  }
 
  #popup-div {
    display: none;
    position: absolute;
    top: 90%;
    left: 0;
    width: 100%;
    padding: 6px;
    background-color: #fff;
    color: #000;
    border: 1px solid #a83333;
    overflow: hidden;
    
  }
  

  /* Guest picker styling ends */

  
  /* Start of styling popular seaarches */
  #ours-collections {
    width:100vw; 
    height: auto;
    margin-left:1%;
    margin-top:100px;
    margin-bottom: 3%;
  }
  .container{
    max-width: 100%;
  }
  .occupancie-container{
  width:auto; 
  margin: 0px;
  height: auto;
  overflow-x: scroll;
  }
  .occupancie-container::-webkit-scrollbar {
  display: none;
  }
  .occupancie-list {
  display: flex;
  justify-content: center;
  align-items: center;
   
  }
  .occupancie-list li {
  display: flex;
  flex-direction: column;
  align-items:flex-start;
  justify-content: space-evenly;
  margin: 0 5px;
  
  }
  .occupancie-list  img{
  height:280px;
  width:280px;	
  overflow-x: scroll;
  }
  .occupancie-list  img:hover{
  box-shadow: 0px 0px 2px 2px white;
  transform: scale(1.05,1.05)
  }
  .occupancie-list p{
  text-align: center;
  margin: 0;
  }
  

  
  @media screen and (min-width:204px){
    .guest-room-picker input{
     width:10rem;
    }
    .occupancie-container{
      display: flex;
      justify-content: space-between;
      height:auto;
      width:90vw;
    }
    .card{
      width:25rem !important;
     
    }
    .card-img-top{
      width:100% !important;
    }
  }

  @media screen and (min-width:425px){
    .guest-room-picker input{
      width:10rem;
     }
     .occupancie-container{
      
      height:auto;
      width:90vw;
    }
    .card{
      width:25rem !important;
     
    }
    .card-img-top{
      width:100% !important;
    }
  }

  @media screen and (min-width:768px){
    .guest-room-picker input{
      width:10rem;
     }
  }

  @media screen and (min-width:1024px){
    .guest-room-picker input{
      width:10rem;
     }
  }

  @media screen and (min-width:1404px){
    .guest-room-picker input{
      width:10rem;
     }
     .search-input input[type="text"],
     .search-input input[type="date"] {
       width: 17rem;
     }

     .embedded-text {
      top: 19%;
      left:6rem;
    }
    .carousel-item{
      position: relative;
      width: 100%;
      height: 40rem; 
      overflow: hidden;
  }
  .container{
    width:100vw !important;
  }
  }
  